.sidebar > .sidebar-links > li:not(:first-child){
	margin-top:0rem !important;
}

.sidebar-group-items{
	font-size: 0.90rem !important;
}

.custom-block.tip{
	border-color: #007aff;
}

.sidebar-group a.sidebar-link{
	padding-left: 1.2rem !important;
}

.token.tag, .token.attr-name, .token.namespace, .token.deleted{
	color: #ec5975 !important;
}

.theme-default-content pre code, .theme-default-content pre[class*=language-] code{
	-webkit-font-smoothing: auto;
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper{
	color: #ffffffaa !important;
}

thead{
	background-color:#98d4fb22;
}

tr:nth-child(2n){
	background-color: #ffffff00 !important;
}

td:nth-child(1){
	font-weight bold
}
td{
	font-size: 1rem;
}
th{
	font-size: 1rem;
}