.sidebar > .sidebar-links > li:not(:first-child){
	margin-top:0rem !important;
}

.sidebar-group-items{
	font-size: 0.90rem !important;
}

.custom-block.tip{
	border-color: #007aff;
}

.sidebar-group a.sidebar-link{
	padding-left: 1.2rem !important;
}

.token.tag, .token.attr-name, .token.namespace, .token.deleted{
	color: #ec5975 !important;
}

.theme-default-content pre code, .theme-default-content pre[class*=language-] code{
	-webkit-font-smoothing: auto;
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper{
	color: #ffffffaa !important;
}

thead{
	background-color:#98d4fb22;
}

tr:nth-child(2n){
	background-color: #ffffff00 !important;
}

td:nth-child(1){
	font-weight bold;
	white-space: nowrap;
}
td{
	font-size: 0.95rem !important;
}
th{
	font-size: 0.95rem !important;
	font-weight bold;
}

.theme-default-content code{
	color: #014084;
	padding: 0.1rem 0.3rem !important;
	font-weight bold;
}

.language-html code, .language-js code, .language-bash code, .language-json code{
	padding: 0.1rem 0rem !important;
}

.badge.tip, .badge.green{
	background-color: #007aff !important;
	user-select: none;
	// margin-left: 0.3rem;
}

.badge.error{
	user-select: none;
	font-size: 12px !important;
}

&::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
 
&::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}
 
&:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53%, 0.3);
}
 
&:hover::-webkit-scrollbar-track {
  background: hsla(0, 0%, 53%, 0.1);
}


.navbar .logo{
	height: 2.48rem !important;
	margin-left: -10px;
	margin-top: -2px;
}

.navbar .site-name{
	font-size: 1.5rem !important;
	display: none;
}

.navbar{
	line-height: unset !important;
}

.sidebar > .sidebar-links {
	padding: 1rem 0 !important;
}

.navbar .links {
	padding-left: 0px !important;
}

.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #007aff;
  font-weight: bold
}